body {
    background-color: #F2D7B8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    text-shadow: 2px;
}

nav {
    margin: 10px auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    border: 1px solid grey;
}

nav ul li {
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

#logotext {
    text-align: center;
    margin: 10px;
}

#logotext * {
    font-size: 50px;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

a {
    color: dimgrey;
}

a:hover {
    color: black;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: inherit;
    margin-right: 5px;
}

button:hover {
    box-shadow: 1px 1px 1px 1px black;
}

#registration-link {
    font-size: 75%;
}

body > div {
    margin: 0 25%;
}
